* {
    padding: 0;
    border: box;

}

body {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(246, 0, 0);
    font-size: 25px;
    margin: 40px;
    padding: 20px;

}

#main-content {
    height: 80vh;
    width: 60vw;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 20px;
}