body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

    text-align: center;
    background-color: rgb(143, 143, 239);
    overflow: hidden;
}

div {
    margin: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;

}
img {
    font-size: 50px;
    text-align: left;
    margin-right: 500px;

}

#img2 {

    border: 8px solid red;
}

#dobbelsteen4 {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    margin-top: 100px;
    outline: 4px solid #0000ff30;
}

#dobbelsteen3 {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    outline: 4px solid #0000ff30;
    margin-top: 100px;
}

#dobbelsteen2 {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    outline: 4px solid #0000ff30;
    margin-top: 100px;

}

#dobbelsteen1 {
    height: 150px;
    width: 150px;
    background-color: white;
    outline: 4px solid #0000ff30;
    margin-top: 100px;
}

.main-dobbelsteen {
    text-align: center;
    width: max-content;
    height: max-content;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

hr {
    width: 100vw;
    position: fixed;
    top: 300px;
    height: 1vh;
    background-color: white;
}

#Button1 {
    background-color: azure;
    font-size: 20px;
    margin-top: 30px;
    border: 3px solid black;
}

.Img2 {
    width: 200px;
    height: 200px;
    margin-top: -200px;

}

.Img3 img {
    width: 200px;
    margin-top: 20px;
    display: block;
    margin-left: -750px;
}
.Img3 {
justify-content: left;
margin-top: -1000px;


}

#buttonContainer{
    display: flex;
    flex-direction: row;
    width: 10vw;
    justify-content: space-around;
    margin-bottom: 150vw;
}
