

body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;

text-align: center;
background-color:rgb(80, 80, 177);
}

div{
margin: 40px;
padding: 10px;
border: 3px solid rgb(161, 26, 26);
justify-content: center;
align-items: center;
min-height: 50vh;
flex-direction: column;
flex-wrap: wrap;
display: flex;


}

button{
background-color: gold;

}

button:hover{
background-color: lightgreen;


}