body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(143, 143, 239);
    overflow: hidden;
    display: flex;
    justify-content:    center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    scale: 0.95;
}

div {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#dobbelsteen2 {
    width: 150px;
    height: 150px;
    background-color: white;
    outline: 4px solid #0000ff30;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
#dobbelsteen1{
     width: 150px;
     height: 150px;
    background-color: white;
    outline: 4px solid #0000ff30;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
  
}

.main-dobbelsteen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: fit-content;
    margin: 100px auto 0;
}

#Img2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

button {
    padding: 20px 30px;
    border: 2px solid #ff000050;
    border-radius: 20px;
    font-weight: bold;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
color: green;
}

.message {
    margin: 20px auto;
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    min-height: 20px;
    font-weight: bold;
}

#score {
    font-size: 2rem;
    margin: 10px 0;
}

#saldoText {
    font-size: 1.5rem;
    font-weight: bold;
}

#inzetValue {
    font-size: 1.2rem;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0000ff30;
    border-radius: 5px;
    
}

#main{
    border: 1px solid #00000030;
    border-radius: 20px;
    padding: 50px;
}